@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-width: thin;
    scrollbar-color: #ef4444 #fca5a5;
    overflow-x: hidden;
}

body {
    @apply bg-gray-100 dark:bg-slate-900;
}

ul {
    @apply list-disc;
}

ol {
    @apply list-decimal;
}

a {
    @apply cursor-pointer text-blue-500;
}

@layer base {
    .header {
        background: linear-gradient(
                to left bottom,
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.4)
            ),
            url('/public/images/header.webp');
        background-attachment: fixed;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

.where {
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.4)
        ),
        url('/public/images/chiostro.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.card {
    transition: transform 500ms ease;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 300px;
    overflow-y: auto;
}

@media (hover) {
    .card-content {
        transition: transform 500ms ease;
        transform: translateY(100%);
    }

    .card-content > * {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card:hover .card-content {
        transform: translateY(0);
    }

    .card:hover .card-content > * {
        opacity: 1;
    }
}
